@if(paging.lastPage > 1)
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      @each(page in range(paging.lastPage))
        <li class="page-item {{ page + 1 == paging.page ? 'active' : '' }}">
          <a class="page-link" href="/recruiter/applications/search?{{ qs(query, { page: page + 1 }) }}">
            {{ page + 1 }}
          </a>
        </li>
      @endeach
    </ul>
  </nav>
@endif
