@layout('layout')

@section('content')
  <div class="col-md-10 offset-md-1 text-center">
    <h1>{{ antl.formatMessage('errorpage.404Header') }}</h1>
    <p>{{ antl.formatMessage('errorpage.404Text') }}</p>
  </div>
@endsection
