<footer>
  <div class="col-md-12 mt-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>&copy; Recruitify</h3>
        <p>Made with <3 in Stockholm</p>
      </div>
    </div>
  </div>
</footer>